@use "sass:color";
@use "@/shared/styles/variables" as *;



// Global styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $dark-bg;
  color: $text-light;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  min-height: 100vh;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}




// Main content
main {
  flex: 1;
}

// Container
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 2rem;
}

@media (max-width: 1200px) {
  .container {
    padding: 0 2rem;
  }

  
}




